<%= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :class => 'form-horizontal' }) do |f| %>
  <%= devise_error_messages! %>

  
  <%= f.input :email %>
    
  <div class="form-actions">
    <%= f.button :submit, "Send oplysninger igen", class: 'btn' %><br><br>
    <%= render "devise/shared/links" %>
  </div>
  
  
<% end %>


