<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner ">
    <div class="container">
      <a class="brand push-left" href="<%= root_path %>">	
	<%= image_tag("sendgrid-logo.png", :size => "112x30", alt: "Fastlearning") %>     
      </a>
      <nav>
        <ul class="nav pull-right">	
          <li><%= link_to "Forside",  root_path %></li>
          <li><%= link_to "Kalender", "#" %></li>
          <li><%= link_to "Kurser",   "#" %></li>
	  <li class="divider-vertical"></li>
	  <% if user_signed_in? %>
	  <li class="avatar"><%= image_tag current_user.profile.avatar.url(:thumb) %></li>
	    <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		<%= current_user.name %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
		<% if current_user.role? :admin %>
		  <li><%= link_to "Konto", user_path( current_user )  %></li>
		  <li><%= link_to "Indstillinger", edit_user_registration_path   %></li>
		<% elsif current_user.role? :user %>
 		  <li><%= link_to "Profil", user_path( current_user )  %></li>
		  <li><%= link_to "Indstillinger", edit_user_registration_path  %></li>
		<% end %>
		<li class="divider"></li>
		<li>
		  <%= link_to "Log af",  destroy_user_session_path, :method => :delete %>
		</li>
              </ul>
            </li>
	    <% else %>
	    <li><%= link_to "Log på",  signin_path %></li>
	    <% end %>
        </ul>
      </nav>

    </div>
  </div>
</header>
