<%= simple_form_for @order, :url => learning_space_checkout_path( @organization, @learning_space ),  :method => :put, :html => { :class => 'form-inline'} do |f| %>

  <% @order.users.each do |user| %>
    <div class="row co">
      
      <div class="span4">
	
	  <%= image_tag( user.profile.avatar.url( :medium ), :size => "65x65", :class => 'left' )  %>
	  <adress>
	    <strong><%= user.name %></strong><br>
	    <%= user.email %>
	  </adress>
      </div>
      <div class="span8">
	
	<%= f.simple_fields_for :line_items do |li| %>
	  <% if li.object.user_id == user.id %>
	    <%= li.input :product_id, :collection => Product.all, :label => false %>
	    <%= li.hidden_field :user_id, :value => user.id %>
	  <% end %>
        <% end %> 
      </div>
    </div>
    <hr>
  <% end %>
  <div class="clear"></div><br>
  <div><%= f.button :submit, "Videre", class: 'btn' %></div>
<% end %>

