<% provide(:title, 'Log p책') %>
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-horizontal' }) do |f| %>
 
  <legend>Log p책</legend>

  <%= f.input :email, :placeholder => "email", :id => "inputEmail" %>
  <%= f.input :password, :placeholder => "password", :id => "inputPassword" %>
  <%= f.input  :remember_me, :label => false, :inline_label => 'Forbliv logget p책', :as => :boolean if devise_mapping.rememberable? %>
      
  <div class="form-actions">
    <%= f.button :submit, "Log p책", class: 'btn' %><br><br>
    <%= render "devise/shared/links" %>
  </div>
<% end %>





