<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-horizontal' }) do |f| %>
 
  <legend>Log på</legend>
  
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= value %>
    </div>
  <% end %>

  <%= f.input :email, :placeholder => "email", :id => "inputEmail" %>
  <%= f.input :password, :placeholder => "password", :id => "inputPassword" %>
  <%= f.input  :remember_me, :label => false, :inline_label => 'Forbliv logget på', :as => :boolean if devise_mapping.rememberable? %>
      
  <div class="form-actions">
    <%= f.button :submit, "Log på", class: 'btn' %><br><br>
    <%= render "devise/shared/links" %>
  </div>
<% end %>





