<%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' } do |f| %>
  <%= devise_error_messages! if false %>
 
  <legend><% if resource.name %> <%= resource.name %><% end %>, Aktiver din konto!</legend>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  
  <div class="form-actions">
    <%= f.button :submit, "Start learning!", class: 'btn' %><br><br>
  </div>
  <%= f.hidden_field :invitation_token %>

<% end %>
