<fieldset class="item">
  
  <%= f.input :name, :label => false,  class: 'input-large', placeholder: 'navn' %>
  <%= f.input :email, :label => false, class: 'input-large', placeholder: 'email' %>
  <%= f.input  :_admin_for_space, :label => false, :inline_label => 'Admin', :as => :boolean %>

  <% if !f.object.first_record? %>
    <%= link_to "#"  do %>    
      <button class="remove btn btn-danger btn-mini"><i class="icon-white icon-minus-sign"></i></button> 
    <% end %>
  <% end %>

  <%= f.hidden_field :id %>
  <%= f.hidden_field :_destroy %>
  <%= f.hidden_field :_scope, :value => :learningspace %>
  <%= f.hidden_field :_organization_id, :value => @learning_space.organization.id %>
</fieldset>
