 <%= form_for( @learning_space, :url => learning_space_people_path(@learning_space), :method => :post, :html => { :class => 'form-inline' } ) do |f| %>
  <%= f.fields_for :users do |u| %>
    <% if u.object.new_record? %>
      <div>
	<%= u.text_field :name, class: 'input-large', placeholder: 'navn' %>
	<%= u.text_field :email, class: 'input-large', placeholder: 'email' %>
      </div>
      <br>
    <% end %>
  <% end %>
 <div><%= f.submit "OK", class: 'btn' %></div>
<% end %>


