<%= form_for( @learning_space, :url => learning_space_people_path( @learning_space.organization, @learning_space ), 
              :method => :post, 
              :html => { :class => 'form-inline' } ) do |f| %>
  <%= f.fields_for :users do |u| %>
    <% if u.object.new_record? %>
      <%= render 'user_fields', f: u %>
    <% end %>
  <% end %>
  <br>
  <%= link_to_add_fields "add user", f, :users %>
  <br>
  <br>
  <div><%= f.submit "Add people", class: 'btn' %></div>
<% end %>
