<legend>Add people</legend>
<div class="span8">
<%= simple_form_for( @learning_space, :url => learning_space_people_path( @learning_space.organization, @learning_space ), 
              :method => :post, 
              :html => { :class => 'form-inline' } ) do |f| %>
  <div class="items">
    <% first_record = true %>
    <%= f.nested_fields_for :users do |u| %>
      <% if u.object.new_record? %>
        <% u.object._first_record = first_record %>
        <%= render 'user_fields', f: u %>
	<% first_record = false %>
      <% end %>
    <% end %>
  </div>
  
  <hr>
  <%= link_to "#"  do %>    
    <button class="add btn btn-success btn-mini"><i class="icon-white icon-plus-sign"></i></button> 
  <% end %>
  <%= f.button :submit, "Tilføj", class: 'btn right' %>
<% end %>
</div>
