<%= simple_form_for resource, :as => resource_name, :url => update_user_confirmation_path, :html => {:method => 'put', :class => 'form-horizontal'}, :id => 'activation-form' do |f| %>
  <%= devise_error_messages! %>
  <% resource.errors.to_hash %>
  
  <fieldset>
    <legend><% if resource.name %> <%= resource.name %><% end %>, Aktiver din konto!</legend>
    
    <%= f.simple_fields_for :organization do |o| %>
      <%= image_tag o.object.logo.url( :medium ), :class => 'controls' %> 
      <div class="clear"></div>
      <%= o.input :logo, :label => 'Vælg et logo' , class: 'btn' %>
      <%= o.input :name, :label => 'Din organisations navn' %>
    <% end %>
 
  <% if @requires_password %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %></p>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, "Aktiver", class: 'btn' %><br><br>
  </div>

  <%= hidden_field_tag :confirmation_token, @confirmation_token %>
  <%= f.hidden_field :_scope, :value => :confirmation %>

  </fieldset>
<% end %>
