<!DOCTYPE html>
<html>
<head>
  <title>FastLearning</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/partials/global/shim' %>
</head>
<body>
  <%= render 'layouts/partials/global/header' %>
  <div class="container">
    <%= render 'shared/render_flash' %>    
    <%= yield %>    
    <%= render 'layouts/partials/global/footer' %>
    
    <%= debug(params) if Rails.env.development? %>
    <%= debug(session) if Rails.env.development? %>
  </div>
</body>
</html>


